# Python
__pycache__/
*.py[cod]

# Env
.env
.env.example

# Virtual environment
venv/
ENV/

# SQLite (local DB)
db.sqlite3

# Media (uploads)
media/

# Static build
staticfiles/
static/

# Node (kama ipo)
node_modules/
dist/
.next/

# OS
.DS_Store
Thumbs.db

# IDE
.vscode/
.idea/
